@media screen and (max-width: 769px)
{

  
.circle-1{
  background-color: #e61f0d;
  width: 15px;
  height: 15px;
  font-size: 60%  ;
  border-radius: 100%;
  color: white;
  font-weight: normal;
  padding: 0em;
  top: 30%;
  right: 3%;
}

.circle-2{
  background-color: #e61f0d;
  width: 15px;
  height: 15px;
  font-size: 60%  ;
  border-radius: 100%;
  color: white;
  font-weight: normal;
  padding: 0em;
  top: 30%;
  right: 3%;
}




}
