@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.nav > li > .nav-1-a {
  color: #9094a4;
  font-weight: bold;
  font-size: 0.7em;
  letter-spacing: 1px;
  padding: 1.2em;
}

#logo{
  width: 170px;
}



.ul-1{
  width:100%;
}

.ul-2{
  width: 100%;
}



.nav-1-a:hover {
border-top: 2px solid #d85144;
}

#login-1{
  color: #d85144;
}

.nav-1-logo {
  width: 2em;
}


.circle-1{
  background-color: #e61f0d;
  width: 15px;
  height: 15px;
  font-size: 60%  ;
  border-radius: 100%;
  color: white;
  font-weight: normal;
  padding: 0em;
  top: 30%;
  right: 15%;
}

.circle-2{
  background-color: #e61f0d;
  width: 15px;
  height: 15px;
  font-size: 60%  ;
  border-radius: 100%;
  color: white;
  font-weight: normal;
  padding: 0em;
  top: 30%;
  right: 15%;
}

.nav > li > .section-2-nav {
  color: #9094a4;
  font-size: 0.7em;
  letter-spacing: 1px;
}

.search-bar {
  border-radius: 2px;
  border: 1px solid rgb(144, 148, 164, 0.2);
  display: flex;
}

.search-bar-input {
  border: none;
  background-color:rgb(144, 148, 164, 0.2);
}

.img-search{
  background-color:rgb(144, 148, 164, 0.2);

  height: 50%;
  align-self: center;
}

.search-input {
  width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: relative;
  background-color: rgb(223, 223, 223);
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

.search-input-2 {
  width: 500px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: relative;
  background-color: rgb(223, 223, 223);
  padding: 0.5rem 2rem;
  border-radius: 10px;
}
.search-input input {
  background: none;
  outline: none;
  width: 100%;
}
.search-input-focus {
  /* border: solid 1px black; */
  box-shadow: 0 0 0 1px black;
}

/* When the input field gets focus, change its width to 100%  */
/* input[type=text]:focus {
  width: 310px;
} */

.testing {
  position: relative;
  width: fit-content;
}
.testing[data-number]::after {
  content: attr(data-number);
  position: absolute;
  font-size: 10px;
  display: flex;
  align-items: center;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 0.2rem;
  text-align: center;
  color: white;
  top: 0;
  right: -18px;
}
